@{
    Layout = null;
}
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label"></li>
            <li>
                <a href="/admin/home" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Trang chủ</span>
                </a>
            </li>

            <li class="nav-label">Danh mục quản lý</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i> <span class="nav-text">Quản lý người dùng</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/admin/user">Danh sách người dùng</a></li>
                    <li><a href="/admin/role">Danh sách quyền người dùng</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-screen-tablet menu-icon"></i><span class="nav-text">Quản lý sản phẩm</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/admin/product">Danh sách sản phẩm</a></li>
                    <li><a href="/admin/cate">Danh sách thể loại</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-screen-tablet menu-icon"></i><span class="nav-text">Quản lý hóa đơn</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/admin/order">Danh sách đơn hàng</a></li>
                    <li><a href="/admin/invoice">Danh sách hóa đơn nhập</a></li>
                </ul>
            </li>
            <li>
                <a  href="/admin/news" aria-expanded="false">
                    <i class="icon-screen-tablet menu-icon"></i><span class="nav-text">Quản lý tin tức</span>
                </a>
            </li>
            <li>
                <a href="/admin/banner" aria-expanded="false">
                    <i class="icon-screen-tablet menu-icon"></i><span class="nav-text">Quản lý ảnh banner</span>
                </a>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-screen-tablet menu-icon"></i><span class="nav-text">Quản lý phản hồi</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/admin/feedback">Danh sách khách hàng phản hồi</a></li>
                    <li><a href="/admin/comment">Danh sách khách hàng bình luận</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>