* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #222;
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
   
}

html {
    font-size: 62.5%;
    font-family:Arial, Helvetica, sans-serif ;
}

.app {
    width: 100%;
    height: auto;
}

.link_news {
    color: black
}
.link_news:hover{
    text-decoration:none;
    color:black
}
.img__active {
    border: 2px solid #ce0021;
}
.message_add_cart {
    position: absolute;
    top: -493px;
    left: 325px;
    width: 300px;
    height: 130px;
    font-size: 14px;
}

.arrow-up {
    position: absolute;
    top: -9px;
    left: 135px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #868686;
}



.image_product_child {
    width: 75px;
    height: 75px;
    border: 1px solid #e3e3e3;
}

.product__info--detail {
    margin: 0px 100px
}


a:hover {
    text-decoration: none;
}



.link_back:hover {
  
    color: #ce0021;
}
.header__bottom {
    height: 50px;
    width: 100%;
    background-color: gray
}

.link_cate {
    font-size: 17px;
    font-weight: 600;
    margin-left: 100px;
    
}
    .link_cate:hover .sidebar {
        display:block;
    }
/* Menu item */
.menu__item {
    display: none;
    position: absolute;
    left: 335px;
    width: 700px;
    height: 400px;
    background-color: #fff;
    z-index: 10;
    border-top: 3px solid #ce0021;
    top: 0;
    animation-name: div-opacity-animation;
    animation-duration: 0.5s;
}

@keyframes div-opacity-animation {
    0% {
        opacity: 0; /* ?? m? ban ??u */
    }

    100% {
        opacity: 1; /* ?? m? khi k?t thúc animation */
    }
}
.menu__block--item {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.menu__link {
    height: 44px;
    list-style: none;
    font-size: 1.4rem;
    font-weight: 500;
    
}

.menu__links {
    text-decoration: none;
    color: #000;
    display: block;
    transition:0.5s;
}

    .menu__links:hover {
        color: #ce0021;
        text-decoration:none
    }

/* Sidebar */

.childmenu:hover .menu__item {
    display: block;
}

/*Header*/
.header {
    width: 100%;
    height: 150px;
}

.header__navbar {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #ce0021;
    padding: 0 50px;
}

.navbar__left,
.navbar__right {
    height: 50px;
    width: 50%;
}

.contact-info {
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    color: #fff;
    line-height: 50px;
    justify-content: space-between;
}

.contact__info-item {
    list-style: none;
    
}

.news {
    height: 100%;
    font-size: 1.4rem;
    text-decoration: none;
    color: #fff;
    line-height: 50px;
    text-align: end;
    
}

.news:hover {
    text-decoration: none;
    color:white
}

.header__middle {
    padding: 0 50px;
    height: 100px;
    width: 100%;
    display: flex;
}

.header__logo {
    height: 100%;
    width: 20%;
    
}

.header__search {
    height: 100%;
    width: 40%;
    padding-left: 30px;
    padding-top: 10px;
}

.header__input {
    width: 100%;
}

.header__input--search {
    width: 100%;
    height: auto;
    margin-top: 14px;
}

.input__search {
    font-size: 1.4rem;
    width: 90%;
    height: 50px;
    border-radius: 6px;
    border: none;
    padding: 0 20px;
    background-color: #f3f7f5;
    outline-color: #ce0021
}

.btn__search {
    height: 48px;
    width: 9%;
    border: none;
    border-radius: 10%;
    background-color: #ce0021;
    cursor: pointer;
}


.icon__search {
    color: #fff;
}

.header__cart {
    height: 100%;
    width: 40%;
    display: flex;
    padding: 20px 0;
    font-size: 1.4rem;
    text-align: center;
}

.box__icon {
    font-size: 2.5rem;
    margin-right: 10px;
}

.header__order {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.header__login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30%;
}

.header__minicart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 35%;
    background-color: #f4f6fa;
    border-radius: 6px;
}

.header__minicart:hover{
    text-decoration:none;
}

.order_link {
    text-decoration: none;
    color: #222;
}

.order_link:hover {
    color: #ce0021;
    text-decoration: none;
}
.link_name_cart{
    color:black
}
.link_name_cart:hover {
    text-decoration: none;
    color: #ce0021;
    transition: 0.5s
}
.cart__quantity {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 6px;
    color: #fff;
}

/* Container */

.category {
    height: auto;
    padding: 20px 50px 0 50px;
    background: linear-gradient(360deg, white, #faf2ec);
}

.padd {
    padding: 20px 10px;
    background-color: #fff;
}

.sidebar {
    height: 380px;
}

.sliderShow {
    height: 380px;
    position: relative;
}

.owl-nav {
    position: absolute;
}

.owl-dots {
    position: absolute;
    top: 320px;
    right: 45%;
}

/* Sidebar */

.sidebar__item {
    background-color: #f4f6fa;
}

.sidebar__item--link {
    list-style: none;
    width: 100%;
    height: 45px;
    font-size: 1.4rem;
    line-height: 40px;
    font-weight: 500;
    transition: 0.4s;
}

.sidebar__item--link a{
    text-decoration: none;
    color: #222;
    display: block;
}
.linkmenu:hover {
    color: white;
}
.sidebar__item--link:hover {
    background-color: #ce0021;

}

.sidebar__item--link:first-child {
    border-top: 3px solid #ce0021;
}

/* Banner */

.banner__store {
    height: 400px;
}

.banner-mt {

}

.hover__img {
    transition: all 0.3s ease-in-out;
}

.hover__img:hover {
    transform: scale(1.05);
}

.sale {
    width: 100%;
    height: 80px;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    line-height:50px;
}

.product-item {
    width: 240px;
    height: 340px;
    font-size: 1.6rem;

}

.product-item--link {
    text-decoration: none;
    color: #222;
}
.product-item--link:hover {
    text-decoration: none;

}
.product_sale {
    padding-left: 20px;
}

.banner2 {
    height: 175px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
}

.banner2__item {
    width: 605px;
    height: 135px;
}

/* ProductHot */
.product__hot {
    width: auto;
    height: auto;
    margin-bottom: 20px;
}

.product__hot--item {

}

.product__hot--item:hover {
    
}

.card:hover{
    border: 2px solid #ce0021;
}

.banner3 {
    width: 100%;
    height: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.banner3__item {
    
}

/* Author */

.container__author {
    width: 100%;
    height: 500px;
    padding: 50px 80px;

}

.container__author p {
    font-size: 1.6rem;
    font-weight: 600;
}

.infomation__author {
    width: 100%;
    height: 350px;
    border: 1px solid #ccc;
    padding: 40px 40px;
    display: flex;
    background-color: #181a1b;
}

.book__hightlight {
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
}

.author__img {
    height: 100%;
    width: 20%;
    border-right: 1px solid #ccc;
    background-size: cover;
}

.author__text {
    height: 100%;
    width: 80%;
    padding: 0 40px;
}

.author__text p {
    font-size: 1.6rem;
    font-weight: 100;
    padding-top: 20px;
    line-height: 20px;
    color: #aba398;
}

.author__text h1 {
    color: #83f49c;
}

.container__author2 {
    padding-top: 0;
    height: 400px;
}

.infomation__author-bgcolor {
    background-color: #085930;
}

.author__text2 h1 {
    color: var(--white-color);
}

.author__text2 p {
    color: var(--white-color);
}

.author__book-sale {
    width: 100%;
    height: 120px;
    margin-top: 20px;
    border-top: 1px solid #ccc;
}

.book__price {
    display: flex;
    justify-content: space-around;
}

.book__price-item {
    display: flex;
    padding-top: 10px;
}

.book__price-item .book__price-old {
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: line-through;
}

.book__price-item .book__price-new {
    font-size: 2rem;
    color: var(--white-color);
    padding-left: 20px;
}

.book__price-buy {
    height: 50px;
    width: 150px;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
    font-size: 1.6rem;
    background-color: #f7452e;
    border-radius: 6px;
}

.book__price-buy a {
    text-decoration: none;
    color: var(--white-color);
    display: block;
}

/* Footer */

.footer {
    width: 100%;
    height: 400px;
    display: flex;
    padding: 20px 20px;
    background-color: #f4f6fa;
}

.footer__item {
    height: 100%;
    width: 25%;
}

.footer__title {
    width: 100%;
    height: 50px;
    font-size: 1.6rem;
    font-weight: 500;
    padding-left: 20px;
}

.footer__item--link {
    height: 100%;
    width: 100%;
    list-style: none;
    font-size: 1.4rem;

}

.ft--link {
    width: 100%;
    height: 50px;
}

.ft--link a {
    color: var(--text-color);
    text-decoration: none;
}

.ft--link a:hover {
    color: #dda200;
    text-decoration: underline;
}

/* Copyright */
.copyright {
    width: 100%;
    height: 50px;
    background-color: #e8e8e8;
    text-align: center;

}

.copyright__text {
    color: #3a3a3a;
    font-size: 16px;
    line-height: 50px;
    
}


/* ProductInfo */
/* Navigation */

.navigation {
    width: 100%;
    height: 50px;
    background-color: #faf2ec;
    font-size: 1.4rem;
    padding: 0 130px;
    color:#7a7a7a;
    font-weight: 500;

}
    .navigation a {
        color: #7a7a7a;
    }
    .navigation:hover a {
        text-decoration:none;
    }

.link_back_productinfor:hover {
    color: #ce0021;
    transition:0.5s
}
.product__info {
    width: 100%;
    height: 470px;
    margin-bottom: 40px;
}

.product__img {
    width: 100%;
    height: 450px;
    border: 1px solid #e3e3e3;
}

.product__detail {
    width: 100%;
    height: 470px;
}

.title-detail {
   font-size: 26px;

}

.details {
    font-size: 1.4rem;
    font-weight: 400;
}

.price {
    height: 50px;
    line-height: 50px;
    font-size: 2rem;
    color: #cf0323;
    font-weight: 700;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 20px;
}

.btn__buy {
    height: 50px;
    width: 200px;
    font-size: 2rem;
    color: #fff;
    background-color: #05b2e9;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn__buy:hover {
    height: 54px;
    width: 204px;
}

/* Form Cart */

.cart {
    width: auto;
    height: auto;
    padding: 30px 120px;
    background: linear-gradient(360deg, white, #faf2ec);
}

.cart__left {
    height: auto;
    padding: 20px;
    background-color: #fff;
    overflow: hidden;
}

.cart__right {
    height: auto;
    padding: 20px;
    background-color: #fff;
}

.cart__title {
    height: 50px;
    font-weight: 600;
    font-size: 14px;
    
    border-bottom:1px solid #e2e2e2;
    padding: 15px
}
.link_sort {
    color: rgb(207, 207, 207)
}

    .link_sort:hover {
        color: #0ABAB5;
        text-decoration: none
    }


.cart__header {
    display: flex;
    height: 50px;
    
    font-size: 1.4rem;
    font-weight: 500;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.title__product {
    height: 100%;
    width: 50%;
}

.title__price {
    height: 100%;
    width: 16.66667%;
}

.title__quantity {
    height: 100%;
    width: 16.66667%;
}

.title__money {
    height: 100%;
    width: 16.66667%;
}

.cart__info {
    height: 160px;
    padding: 10px 0;
    display: flex;
    border-top: 1px solid #ccc;
}

.info__img {
    width: 30%;
    height: 100%;
}
.info__name {
    width: 70%;
    height: 100%;
    font-size: 1.6rem;
    font-weight: 500;
}

.cart__info--box {
    display: flex;
    height: 100%;
    width: 50%;
}

.cart__info--price {
    height: 100%;
    width: 16.66667%;
    font-size: 1.6rem;
    font-weight: 500;
    
}

.cart__info--quantity {
    height: 100%;
    width: 16.66667%;
}

.cart__info--money {
    height: 100%;
    width: 12.66667%;
    font-size: 1.6rem;
    font-weight: 500;
}

.ip__quantity {
    width: 60px;
    height: 30px;
    font-size: 16px; 
}

.btn__delete {
    padding:5px 7px;
    border: none;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #a0a0a0;
    font-size: 12px;
    color: #a0a0a0;
}
    .btn__delete:hover {
        border-color: #cc3232;
        color: #cc3232;
        transition: 0.5s;
    }
    .pay__title {
        font-size: 2rem;
        font-weight: 600;
        height: 60px;
    }
.pay__provisional {
    font-size: 1.4rem;
   border-bottom:solid 1px #dcdcdc;
    padding-bottom:5px;
    
}
.pay__done {
    font-size: 1.4rem;

}

.btn__order {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border: none;

}
    .btn__order:hover {
        background-color: #e3ba45;
    }

    .btn__order a {
        text-decoration: none;
        color: #000;
        display: block;
    }
/* Form Order */

.form__group {
   font-size:14px
}

.title__form {
    height: 45px;
    font-size: 12px;
  
    font-weight: 500;
}

.form__control {
    
    
    border: 1px solid #ccc;
    font-size: 12px;

}

.form__control::placeholder {
    font-size: 1.6rem;
}

.form__control--address {
    height: 100px;
}

.order__item {
    height: auto;
    margin-top: 10px;
    border-bottom: 1px solid #e2e2e2;
}

.order__item--name {
    font-size: 14px;

}

.order__item--price {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: end;
}

.total__price {
    font-size: 1.6rem;
    padding: 6px;
    font-weight: 600;
    margin-top: 10px;
}

.order__tracking {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
}

/* OrderTracking */

.table {
    width: 100%;
    font-size: 1.4rem;
    border-collapse: separate;
}

.search__product {
    height: auto;
}

.arrange {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.div_menu_cate {

    width: 100%;
}
.menu_cate {
    list-style: none;
    padding: 0px;
    background-color: #f5f5f5;
}
.menu_cate > li {
    margin-bottom: 12px;
    font-size: 1.4rem;
    font-weight:500;
    
}
.link_menu_cate {
    color: rgb(66 66 66);
    transition: 0.5s;
    padding: 5px 0px
}
    .link_menu_cate:hover {
        text-decoration: none;
        color: #ce0021
    }
    /* Paging */
    .paging {
        height: 70px;
        border: 1px solid #eaeaea;
    }
.page-item {
    margin-top:10px;
    font-size: 14px;
    font-weight:600;
}

.page-item a {
    padding: 13px;
 
    color:black
}
    .page-item:hover a {
        color: #ce0021;
        text-decoration:none;
        transition:0.5s
    }
.active {
    color: white;
    
}
    .active a {
        background-color: #ce0021;
    }


/* Check out */

.box__checkout {
    padding: 30px 120px 20px 160px;
}

.checkout__control {
    width: 15px;
    height: 20px;
    accent-color: #ce0021;
    
}

.form__groups {
    display: flex;
    height: 45px;

}

.checkout__option {
    font-size: 14px;
    
    margin-left: 10px;
}

/* User info */

.user__info {
    padding: 0 10px;
}

.user__info--acc {
    border-radius: 10px;
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 10px;
}

.user__name {
    width: 100%;
    height: 90px;
    display: flex;
}

.name__user {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 90px;
    padding-left: 20px;
}

.user__avt {
    height: 90%;
    width: 35%;
    border-radius: 200%;
    overflow: hidden;

}

.img__user {
    width: 100%;
    height: 100%;
}

.name__user {
    height: 100%;
    width: 70%;
}

.user__profile {
    width: 100%;
    height: auto;
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

.user__profile--item {
    width: 100%;
    height: 45px;
    font-size: 16px;
    padding: 10px;
    border-radius: 16px;
}

    .user__profile--item:hover {
        background-color: #f4f6fa;
        
    }

.user__link {
    text-decoration: none;
    color: #000;
    display: block;
}

    .user__link:hover {
        text-decoration: none;
        color: #ce0021;
    }

.form__group--user {
    margin-top: 10px;
    width: 100%;
    height: auto;
    padding: 0 10px;
}

.ip__user--profile {
    width: 100%;
    height: 40px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 0 10px;
    font-size: 1.6rem;
}

.btn__update {
    width: 300px;
    height: 40px;
    margin: 10px 10px;
    border: none;
    background-color: #ffc931;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 500;
}
