<div class="col-md-3">
    <div class="user__info">
        <div class="user__info--acc">
            <div class="user__name">
                <div class="user__avt m-2">
                    <img src="~/Assets/client/img/default-user.jpg" alt="" class="img__user">
                </div>
                <p class="name__user">@ViewBag.NameAccount</p>
            </div>

            <ul class="user__profile">
                <li id="account" class="user__profile--item">
                    <a href="/my/account" class="user__link">
                        <i id="icon_account" class="fa-solid fa-user mx-2"></i>
                        <span>Thông tin tài khoản</span>
                    </a>

                </li>
                <li id="order" class="user__profile--item">
                    <a href="/my/order" class="user__link">
                        <i id="icon_order" class="fa-solid fa-bag-shopping mx-2"></i>
                        <span>Quản lý đơn hàng</span>
                    </a>
                </li>
                <li class="user__profile--item">
                    <a href="" class="user__link">
                        <i class="fa-solid fa-right-from-bracket mx-2"></i>
                        <span>Thoát tài khoản</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
