@model List<WebBookShop.Models.BannerModel>
<div class="banner3">
    @foreach (var item in Model.Where(b => b.Sort != null&&b.Sort>6).Take(1))
    {
        <div class="banner3__item">
            <a href="@item.Link">
                <img class="hover__img" src="@Url.Content(item.Image)" alt="">
            </a>
        </div>
    }

</div>
