@model List<WebBookShop.Models.BannerModel>
<div class="banner mt-5" style="margin-bottom:100px">
    <div class="container-fluid" style="margin-left: 20px;">
        <div class="row">
            @foreach (var item in Model.Where(b => b.Sort != null && b.Sort <= 4).OrderBy(b => b.Sort).Take(4))
            {
                <div class="col-0 col-xl-3 banner__store">
                    <a href="@item.Link" style="display: block;">
                        <img class="hover__img " src="@Url.Content(item.Image)" alt="">
                    </a>
                </div>
            }
        </div>
    </div>
</div>