
@model WebBookShop.Models.UserModel

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Đăng nhập</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Assets/admin/images/favicon.png">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
    <link href="~/Assets/admin/css/style.css" rel="stylesheet">

</head>

<body class="h-100">

    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        @if (TempData["LOGINMESSAGE"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible fade show mb-0" id="alo123">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button> <strong>Thông báo!</strong> @TempData["LOGINMESSAGE"]
                            </div>
                        }
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="card login-form mb-0">
                                <div class="card-body pt-5">
                                    <h3 class="text-center">QTBOOK</h3>
                                    <div class="mt-5 mb-5 login-input">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @type = "email", @placeholder = "Email" })
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "password", @placeholder = "Password" })
                                        </div>
                                        <button type="submit" class="btn login-form__btn submit w-100">Đăng nhập</button>
                                    </div>
                                    <!--<p class="mt-5 login-form__footer">Dont have account? <a href="page-register.html" class="text-primary">Sign Up</a> now</p>-->
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/Assets/admin/plugins/common/common.min.js"></script>
    <script src="~/Assets/admin/js/custom.min.js"></script>
    <script src="~/Assets/admin/js/settings.js"></script>
    <script src="~/Assets/admin/js/gleek.js"></script>
    <script src="~/Assets/admin/js/styleSwitcher.js"></script>
    <script src="~/assets/admin/myscript.js"></script>
</body>
</html>






