
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebBookShop.Models.UserModel

    @using (Html.BeginForm("index", "login", FormMethod.Post, new { @class = "formLogin box" }))
    {
        @Html.AntiForgeryToken()
        <div class="cart d-flex justify-content-center" style="font-size:14px;padding:50px 0">
            
                                   
            <div class="bg-white pb-5 text-center" style="width:370px">
                @if (TempData["MESSAGE"] != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show mb-0 text-center" id="alo123">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        </button>
                        <strong>Thông báo!</strong> @TempData["MESSAGE"]
                    </div>
                }
                <div class="top mb-5 pt-5">

                    <header class="text-center mb-4" style="font-size:24px;font-weight:600">ĐĂNG NHẬP</header>
                    <span>Nếu bạn chưa có tài khoản, <a href="/register" class="text-danger " style="font-weight:600">đăng ký tại đây</a></span>
                </div>

                <div class="d-flex justify-content-center mb-4">
                    @Html.TextBoxFor(m => m.Email, new { type = "email", @style = "width:290px;height:45px;font-size:14px;background-color:#ebebeb", @class = "inputLogin form-control px-4", @placeholder = "Email", required = "required" })
                    <i class='bx bx-user'></i>
                </div>

                <div class="d-flex justify-content-center mb-5">
                    @Html.TextBoxFor(m => m.Password, new { type = "password", @style = "width:290px;height:45px;font-size:14px;background-color:#ebebeb", @id = "password", @class = "inputLogin form-control px-4", @placeholder = "Mật khẩu", required = "required" })
                    <i class='bx bx-lock-alt'></i>
                </div>

                <div class="d-flex justify-content-center">
                    <button class="btn btn-danger" style="width:290px;height:45px;font-size:14px;font-weight:600;" type="submit">Đăng nhập</button>
                </div>

                <div class="two-col">
                    <div class="one">
                        <!-- <input type="checkbox" name="" id="check">
            <label for="check">Nhớ mật khẩu</label> -->
                    </div>
                    <div class="two">
                        @*<label><a href="#" class="text-warning">Quên mật khẩu?</a></label>*@
                    </div>
                </div>
            </div>
        </div>
    }


@*<script src="/Assets/admin/myscript.js"></script>
<script src="/Assets/client/js/app.js"></script>*@

@*</body>
    </html>*@
@section CLIENTSCRIPT{
       
<script src="~/Assets/admin/plugins/common/common.min.js"></script>
<script src="~/Assets/admin/js/custom.min.js"></script>
}  