
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<WebBookShop.Models.ProductModel>
@using System.Globalization;
@using WebBookShop.Services
<div class="container-fluid">
    <div class="category">

        <div class="row padd">
            <div class="sidebar col-md-3">
                @{Html.RenderAction("MainMenu", "Home"); }
            </div>
                @{Html.RenderAction("MainSlide", "Home"); }
            
        </div>
    @{Html.RenderAction("BannerTop", "Home"); }

    @{Html.RenderAction("SellingProduct", "Home"); }

    @{Html.RenderAction("BannerMid", "Home"); }
    <div class="sale text-danger font-weight-bold" style="margin-top:60px">
        SẢN PHẨM HOT
    </div>

    <div class="product__hot ">
        <div class="container-fluid">
            <div class="row" style="padding-left: 20px;">
                @foreach (var item in Model.Take(30).Where(p => p.Hot == true && p.Status == true))
                {
                    <div class="product-item product__hot--item col-6 col-lg-2 mt-3">
                        <a href="/productinfor?id=@item.Id" class="product-item--link">
                            <div class="card" style="width: 100%; height: 100%;">
                                @if (item.Quantity == 0)
                                {
                                    <img src="~/Assets/client/img/out-of-stock.png" class="outofstock" style="width:50%" />
                                }
                                @{var rs = new ImageProductService().GetByThumbnail(item.Id);
                                    if (rs != null)
                                    {
                                        <img src="@Url.Content(rs)" style="width: 100%" />
                                    }

                                }
                                <div class="card-body">
                                    <h5 class="card-title" style="font-size:15px;color:gray">@item.ProductName</h5>
                                    <p class="card-text" style="color: #cf0525; font-weight: 600; font-size: 18px;">
                                        @{
                                            var strPrice = string.Format(new CultureInfo("vi-VN"), "{0:#,## đ}", item.Price);
                                            @strPrice
                                        }
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>

                }

            </div>
        </div>

    </div>

    @{Html.RenderAction("BannerBot", "Home"); }
    @{Html.RenderAction("NewProduct", "Home"); }
        </div>
</div>