
@{
    ViewBag.Title = "Danh sách đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="cart">
    <div class="container-fluid">
        <div class="row">

            @RenderPage("~/Views/Shared/_MyAcount.cshtml")
            <div class="col-md-9">
                 <div class="order__tracking px-5 py-4">
                    <div class="cart__title" style="font-size:18px;font-weight:600">
                        Quản lý đơn hàng
                    </div>
                    <table class="table table-borderless mt-4">
                        <thead>
                            <tr style="color: #8E8E8E;font-size:13px;font-weight:600">
                                <th>MÃ ĐƠN HÀNG</th>
                                <th>NGÀY MUA</th>
                                <th style="width:280px">SẢN PHẨM</th>
                                <th>TỔNG TIỀN</th>
                                <th>TRẠNG THÁI ĐƠN HÀNG</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>John</td>
                                <td>Doe</td>
                                <td>john@example.com</td>
                            </tr>

                        </tbody>
                    </table>
                </div> 

            </div>
        </div>
    </div>
</div>
@section CLIENTSCRIPT{
    <style>
        #order {
            background-color: #f4f6fa;
        }

        #icon_order {
            color: #ce0021;
        }
    </style>
}